.row{
    align-items: center;
}
.col-md-3{
    display: flex;
    justify-content: space-evenly;
}
.item{
    width: 165px;
    height: 210px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 28px;
    box-shadow: 3px 3px 2px grey;
}
.item p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
}

.item .round {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    top: 70px;
    left: 30px;


}

.item .total {
    position: absolute;
    top: 28px;
    left: 19px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 33px;
    text-align: center;
}

.item.karyawan{
    background: #FFE7EA;
}
.item.karyawan .round{
    border: 8px solid #B46F78;
    
}
.item.karyawan .total{
    color: #B46F78;
}
.item.toko{
    background: #F6F4FF;
}
.item.toko .round{
    border: 8px solid #5843BE;
}
.item.toko .total{
    left: 23px;
    color: #5843BE;
}
.item.attendance{
    background: #ECF6FF;
}
.item.attendance .round{
    border: 8px solid #1A55AF;
}
.item.attendance .total{
    color: #1A55AF;
}
.item.visiting{
    background: #FFFBF0;
}
.item.visiting .round{
    border: 8px solid #427A0A;
}
.item.visiting .total{
    color: #427A0A;
}

canvas{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}
